a:focus,
a:hover {
    color: red;
}

input:focus select:focus {
    outline: 2px solid black;
}

section:not(#testimonials) {
    font-style: italic;
}

p::first-letter {
    font-weight: bold;
}
